*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
   /* Main  Styling */
body,html{
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.50cm;
}

a{
    color:p;
    text-decoration: none;
}

   /* Styling the Headings */
h1,h2,h3{
    padding-top: 0px;
    padding-bottom:0px;
}

#navbar{
    background: rgba(57, 217, 49, 0.039); 
    overflow: auto;
}
#navbar:hover{
    background: rgba(255, 0, 208, 0.066);
}

#navbar a{
color:black;
}

#navbar h1{
    float: left;
    font-size: 2.50em;
    padding-top: 40px;
}

#navbar ul{
    float: right;
    list-style: none;

}

#navbar ul li{
float: left;
padding: 20px;
font-size: large;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center ;
    font-size: 1.50em;
}
#navbar ul li a:hover,#navbar ul li a.active{
    color: rgba(255, 0, 0, 0.502);
}

    /* showcase session */
#showcase{
background: url(../images/hotel.jpg) no-repeat center center/cover;

}

#showcase .showcase-content{
    padding: 100px;
    text-align: center;
    color: black;
}

#showcase .showcase-content h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
.text-primary{
    color: rgba(20, 20, 20, 0.986);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.lead{
    font-size: 20px;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.75em;
}

.btn{
    color: white;
    display: inline-block;
    font-size: 18px;
    background:rgb(90, 78, 9);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background:red;
}

   /* Home Session */
#home-info{
    height: 450px;
}

#home-info .info-img{
    background: url(../images/hotelrep1.jpg) no-repeat center center/cover;
    float: left;
    min-height: 100%;
    width: 50%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    padding: 50px;
    height:100%;
    text-align:center;
    overflow: hidden;
}

/*.bg-dark{
    background: lightgreen;
}*/

.box{
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
}

/*.bg-primary {
    background: red;
    color:yellow;
}*/

.bg-second{
    background: red;
    color:yellow;
}

/*.bg-tetiary{
    background: red;
    color:yellow;
}*/

#main-footer{
    font: 17px;
    text-align: center;
    padding: 20px;
    padding-bottom: 120px;

}

#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;

}

#about-info .info-right img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

.py-3{
    padding: 30px 0px;
}

/* Testimonials or Feedbacks DSection */
#feebacks{
    height: 100%;
    padding-top: 100px;
    background: url('../images/hotelrep1.jpg') no-repeat center center/cover;
}

#feebacks h2{
    text-align: center;
    color: blanchedalmond;
    padding-bottom: 40px;

}

#feebacks .feedback{
    padding: 20px;
    border-radius: 10px;
    opacity:0.9;
    margin-bottom: 40px;

}

#feebacks .feedback img{
    width: 100px;
    float: left;
    border-radius: 50%;
    border-right: 20px;
}